.action-button {
  border: none;
  background: white;
  color: #3899EC;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  border-color: transparent;
  background: #4EB7F5;
}

.action-button:active {
  background: #3899EC;
}

.action-button:focus {
  outline: none;
  box-shadow: none;
}
.action-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #aadbfc;
}

.action-button-root {
  position: relative;
}

.click-trap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.menu {
  position: absolute;
  padding: 10px 0 6px 0;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: var(--wsr-shadow30, 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12));
  bottom: 50px;
  left: -48px;
  background-color: white;
  z-index: 9999;
}

.menu:after {
  top: 100%;
  left: 66px;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 6px solid rgba(136, 183, 213, 0);
  border-top-color: white;
  margin-left: -6px;
}
